<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_template :: head">
	<meta charset="UTF-8">
	<title>New User</title>
</head>
<body>

<div class="content">
	<h2 th:text="#{form.title}"></h2>
	
	<form action="/user" method="POST" th:object="${user}">
			<input type="text" name='name' value="Jenifer" placeholder="Nome Completo" th:classappend="${#fields.hasErrors('name')} ? invalid">
			<span th:errors="*{name}"></span>
			
			<input type="text" name='email' value="jeny@gmail.com" placeholder="E-mail" th:classappend="${#fields.hasErrors('email')} ? invalid">
			<span th:errors="*{email}"></span>
			
			<input type="password" name='pass' value="12345678" placeholder="Senha" th:classappend="${#fields.hasErrors('pass')} ? invalid">
			<span th:errors="*{pass}"></span>
			
			<div class="actions">
				<a href="/user" class="btn" th:text="#{form.button.cancel}"></a>
				<button class="btn blue" th:text="#{form.button.save}"></button>
			</div>
	</form>
</div>
</body>
</html>